@{
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

@model AdminView

<link rel="stylesheet" href="~/css/styleForAdminView.css">

@if (Model.Role == "Admin")
{
    @if (!ViewBag.MyMessage.Equals(""))
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $(".message-box").show();
            });
        </script>
        <div id="alertBox" class="alert warning">
            <span class="closebtn" onclick="this.parentElement.style.display = 'none';">&times;</span>
            @ViewBag.MyMessage
        </div>
    }
    <br>
    <h1>Visi registruoti svetainės nariai</h1>
    <br>
    <table id="items">
        <tr>
            <th>Email</th>
            <th>Rolė</th>
        </tr>
        @foreach (var user in @Model.Users)
        {
            <tr data-toggle="modal" data-id="0" data-target="#emailModal">
                <td>@user.Email</td>
                <td>@user.Role</td>
            </tr>
        }
    </table>

    <h3>Sukurti vartotoją:</h3>
    <form class="styledInput" method="get" action="@Url.Action("Add", "Administration")" style="margin:auto;max-width:300px">
        <input class="styledInput" type="text" placeholder="El.Paštas..." name="email" style="margin-bottom:5px;">
        <input class="styledInput" type="text" placeholder="Slaptažodis..." name="password">
        <button type="submit" onclick="alertUser()"><i class="fa fa-check"></i></button>
    </form>
    <br />
    <h3>Ištrinti vartotoją:</h3>
    <form class="styledInput" method="get" action="@Url.Action("Remove", "Administration")" style="margin:auto;max-width:300px">
        <input class="styledInput" type="text" placeholder="El.Paštas..." name="email">
        <button type="submit" onclick="alertUser()"><i class="fa fa-check"></i></button>
    </form>

    <h3>Suteikti vartotojui rolę:</h3>
    <form class="styledInput" method="get" action="@Url.Action("Set", "Administration")" style="margin:auto;max-width:300px">
        <select id="shopIdSelect" name="roleID" style="margin-bottom:5px;">
            <option value="0">Vartotojas</option>
            <option value="1">Administratorius</option>
        </select>
        <input class="styledInput" type="text" placeholder="El.Paštas..." name="email">
        <button type="submit" onclick="alertUser()"><i class="fa fa-check"></i></button>
    </form>

    <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:600px;height:700px;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="emailModalLabel" style="color: green" bold>Susisiekite</h2>
                </div>
                <div class="modal-body">

                    <h5 style="text-align:center">Susisiekite su vartotoju parašydami jam žinute žemiau esančiame lange</h5>
                    <br />

                    <div class="textarea" style="height:50px;">
                        <textarea rows="2" cols="60" placeholder="Parašykite komentarą.." style="overflow:auto;resize:none"></textarea>
                    </div>
                    <br />

                    <div class="myButton">
                        <button type="submit">Siųsti</button>
                    </div>
                    <br />

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn first" data-dismiss="modal" style="color: green" bold>Uždaryti</button>
                </div>
            </div>
        </div>
    </div>

    <table id="items">
        <tr>
            <th>Data</th>
            <th>Žinutė</th>
            <th>Šaltinis</th>
            <th>Steko šaltinis</th>
            <th>Klaida sutvarkyta, ištrinti</th>
        </tr>
        @foreach (var exception in @Model.Exceptions)
        { 
    <tr>
        <td>@exception.Date</td>
        <td>@exception.Message</td>
        <td>@exception.Source</td>
        <td>@exception.StackTrace</td>
        <td>
            <button id="mvc-action-button" class="myButton" onclick="location.href = '@Url.Action("Admin", "Administration", new {date = exception.Date, message = exception.Message, source = exception.Source, stacktrace = exception.StackTrace})'">Ištrinti</button>
        </td>
    </tr>
        }
    </table>


    <script>
        $(function () {
            $('#emailModal').modal({
                keyboard: true,
                backdrop: "static",
                show: false,

            }).on('show', function () { //subscribe to show method
                var getIdFromRow = $(event.target).closest('tr').data('id'); //get the id from tr
            });
        });
    </script>
}
else
{
    <h1>Klaida!</h1>
    <h3><strong>Neturite prieigos </strong> prie šios svetainės dalies!</h3>
    <button id="mvc-action-button" class="myButton" onclick="location.href = '@Url.Action("Items", "MainWindowLoggedIn")'">Grįžti</button>
}
