@{
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}
@using PCE_Web.Classes
@using PCE_Web.Controllers
@using System.ComponentModel.DataAnnotations

@model ParticularItemLoggedInView

<link rel="stylesheet" href="~/css/styleForSuggestionView.css">
<br>
<h1>Iš viso surasta prekių: @Model.Products.Count, 
    @{
        var itemsList = 
            from item in @Model.Products 
            group item by item.Seller;
        <text>@itemsList.Select(x => string.Format("{0}: {1}", x.Key, x.Count())).Aggregate((current, next) => current + ", " + next)</text>
    }
</h1>
<br>
<div class="table-responsive">
    <table id="items">
        <tr>
            <th>Pardavėjas</th>
            <th>Nuotrauka</th>
            <th>Prekė</th>
            <th>Kaina</th>
        </tr>
        @foreach (var product in @Model.Products)
        {
            <tr>
                <td align="center">@product.Seller</td>
                <td align="center"><a href="@product.Link"><img class="image" alt="product.jpg" src="@product.Picture" style="max-width:100%; height:auto; width:auto;"></a></td>
                <td align="center">@product.Name</td>
                <td align="center">@product.Price</td>
            </tr>
        }
    </table>
</div>
