@model SuggestionsView
<link rel="stylesheet" href="~/css/styleForSuggestionView.css">
<link rel="stylesheet" href="~/css/Loading.css">

<br>
<h1>
    Iš viso surasta prekių: @Model.Products.Count,
    @{
<<<<<<< Updated upstream
        var itemsList =
            from item in @Model.Products
            group item by item.Seller;
    <text>@itemsList.Select(x => string.Format("{0}: {1}", x.Key, x.Count())).Aggregate((current, next) => current + ", " + next)</text>
=======
        if (Model.AllProducts.Count != 0)
        {
            var itemsList =
                from item in @Model.AllProducts
                group item by item.Seller;
            <text>@itemsList.Select(x => string.Format("{0}: {1}", x.Key, x.Count())).Aggregate((current, next) => current + ", " + next)</text>
        }
>>>>>>> Stashed changes
    }
</h1>
<br>
<div class="table-responsive">
    <table id="items">
        <tr>
            <th></th>
            <th>Nuotrauka</th>
            <th>Prekė</th>
            <th>Kaina</th>
        </tr>
        @foreach (var product in @Model.Products)
        {
            <tr>
                <td align="center">@product.Seller</td>
                <td align="center"><a href="@product.Link"><img class="image" alt="product.jpg" src="@product.Picture" style="max-width:100%; height:auto; width:auto;"></a></td>
                <td align="center"><a href="@Url.Action("ParticularItem", "ParticularItem", new { particularItem = @product.Name })" class="link">@product.Name</a> </td>
                <td align="center">@product.Price</td>
            </tr>
        }
    </table>
</div>


<div id="overlay" class="overlay">

    <div class="loader">
        <img src="~/img/loader.gif" width="400" height="400" />
    </div>

</div>

<script>
    var buttons = document.getElementsByClassName('link');
    for (var i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener('click', function (e) {
            document.getElementById('overlay').style.display = 'flex';
        })
    }
</script>
