@model SuggestionsView
    <link rel="stylesheet" href="~/css/styleForSuggestionView.css">
@foreach (var product in @Model.Products)
{
    <table>
        <tr>
            <td>
                <a href="@product.Link">
                    <img class="image" alt="product.jpg" src="@product.Picture">
                </a>
            </td>
            <td>
                <button class="link" name="particularItem" onclick="location.href = '@Url.Action("ParticularItem", "ParticularItem", new{particularItem=@product.Name})'">
                    @product.Name
            </button>
            </td>
            <td>@product.Price</td>
        </tr>
    </table>
}


