@model ParticularItemView

<link rel="stylesheet" href="~/css/styleForSuggestionView.css">

<br>
<h1>Iš viso surasta prekių: @Model.Products.Count</h1>
<br>
<table id="items">
    <tr>
        <th>Nuotrauka</th>
        <th>Prekė</th>
        <th>Kaina</th>
    </tr>
    @foreach (var product in @Model.Products)
    {
        <tr>
            <td><a href="@product.Link"><img class="image" alt="product.jpg" src="@product.Picture"></a></td>
            <td>@product.Name</td>
            <td>@product.Price</td>
        </tr>
    }
</table>
