@{
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

@model SlideshowView

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="~/css/styleForLoggedInWindow.css">

<div class="seperator"></div>

<div class="text-center">
    <div id="alertPrisijungete" class="alert warning">
        <span  class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        Sėkmingai prisijungėte!
    </div>
</div>
<!-- Top content -->
<div class="search-container">
    <!-- Paieškos mygtukas -->
    <div class="search-button">
        <form method="get" action="">
            <div class="tb">
                <input type="text" name="ProductName" placeholder="Ieškokite..">
                <div class="td" id="s-cover">
                    <input id="mvc-action-button" type="submit" asp-area="" asp-controller="SearchLoggedIn" asp-action="Suggestions" style="position: absolute; left: -9999px" />
                </div>
            </div>
        </form>
    </div>
</div>
<div class="slideshow-container">
    @foreach (var product in @Model.Products)
    {
        <a href="@product.PageUrl" target="_blank"> <img class="mySlides w3-animate-fading" src="@product.ImgUrl"></a>
    }
</div>
<br>
<h1>Iš viso išsaugotų prekių: @Model.ProductsSaved.Count</h1>
<br>
<table id="items">
    <tr>
        <th>Nuotrauka</th>
        <th>Prekė</th>
        <th>Kaina</th>
        <th>Ištrinti prekę</th>
    </tr>
    @foreach (var productSaved in @Model.ProductsSaved)
    {
        <tr>
            <td><a href="@productSaved.Link"><img class="image" alt="product.jpg" src="@productSaved.Picture"></a></td>
            <td>
                <button id="mvc-action-button" class="link" name="particularItem" onclick="location.href = '@Url.Action("ParticularItem", "ParticularItem", new { particularItem = productSaved.Name })'">
                    @productSaved.Name
                </button>
            </td>
            <td>@productSaved.Price</td>
            <td>
                <button id="mvc-action-button" class="myButton" onclick="location.href = '@Url.Action("Items", "MainWindowLoggedIn", new {link = productSaved.Link, pictureUrl = productSaved.Picture, seller = productSaved.Seller, name = productSaved.Name, price = productSaved.Price})'">Ištrinti</button>
            </td>
        </tr>
    }
</table>
<br />
<br />
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 footer-copyright">
                &copy; SmartShop.LT, 2020.
            </div>
        </div>
    </div>
</footer>

<!--Loading screen-->
<div id="overlay" class="overlay">

    <div class="loader">
        <img src="~/img/loader.gif" width="400" height="400"/>
    </div>

</div>

<!--Scripts-->
<script src="~/js/scripts.js"></script>
<script>

  window.onload = function ()
    {
      var duration = 3000; 
      setTimeout(function () { $('#alertPrisijungete').hide(); }, duration);
    };

    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 9000);
    }
</script>
<script>
    var close = document.getElementsByClassName("closebtn");
    var i;

    for (i = 0; i < close.length; i++) {
        close[i].onclick = function () {
            var div = this.parentElement;
            div.style.opacity = "0";
            setTimeout(function () { div.style.display = "none"; }, 600);
        }
    }
</script>
