@{
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}
@using PCE_Web.Classes
@using PCE_Web.Controllers
@using System.ComponentModel.DataAnnotations
@model SuggestionsView
<link rel="stylesheet" href="~/css/styleForSuggestionView.css">
<link rel="stylesheet" href="~/css/Loading.css">

<div class="text-center">
    <div id="alertBox" class="alert warning">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        @SuggestionsView.AlertBoxText
    </div>
</div>

<br>
<h1>Iš viso surasta prekių: @Model.Products.Count</h1>
<br>
<div class="table-responsive">
    <table id="items">
        <tr>
            <th class="hide">Pardavėjas</th>
            <th>Nuotrauka</th>
            <th>Prekė</th>
            <th>Kaina</th>
            <th></th>
        </tr>
        @foreach (var product in @Model.Products)
        {
            <tr>
                <td class="hide" align="center">@product.Seller</td>
                <td align="center"><a href="@product.Link"><img class="image" alt="product.jpg" src="@product.Picture" style="max-width:100%; height:auto; width:auto;"></a></td>
                <td align="center"><a href="@Url.Action("ParticularItemLoggedIn", "ParticularItemLoggedIn", new { particularItem = @product.Name })" class="link">@product.Name</a> </td>
                <td align="center">@product.Price</td>
                <td align="center"><button id="mvc-action-button" class="myButton" onclick="location.href = '@Url.Action("Suggestions", "SearchLoggedIn", new { link = product.Link, pictureUrl = product.Picture, seller = product.Seller, name = product.Name, price = product.Price} )'"><i class="fa fa-plus-circle"></i></button></td>
            </tr>

        }
    </table>
</div>

    <div id="overlay" class="overlay">

        <div class="loader">
            <img src="~/img/loader.gif" width="400" height="400" />
        </div>

    </div>

    <script>
        var buttons = document.getElementsByClassName('link');
        for (var i = 0; i < buttons.length; i++) {
            buttons[i].addEventListener('click', function (e) {
                document.getElementById('overlay').style.display = 'flex';
            })
        }
    </script>


    <script>

        window.onload = function () {
            var duration = 3000;
            setTimeout(function () { $('#alertBox').hide(); }, duration);
        };
    </script>

