@{
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

@model ReportView
@if (Model.Role == "Admin")
{
    <link rel="stylesheet" href="~/css/styleForAdminView.css">
    <br>
    <h1>Pranešimai</h1>
    <br>
    <table id="items">
        <tr>
            <th>ID</th>
            <th>Data</th>
            <th>Pranešimas</th>
            <th>Pažymėti</th>
            <th>Ištrinti</th>
        </tr>
        @foreach (var comment in @Model.Comments)
        {
            <tr>
                <td style="font-weight:bold;color:red;">@comment.ID</td>
                <td style="font-weight:bold;color:red;">@comment.Date</td>
                <td style="font-weight:bold;color:red;max-width:500px; word-wrap:break-word;">@comment.Comment</td>
                <td style="width:50px"><button type="button" class="btn btn-warning">Pažymėti</button></td>
                <td style="width:50px"><button type="button" class="btn btn-danger">Ištrinti</button></td>
            </tr>
        }

    </table>
    <br />
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#answerModal">Rašyti pranešimą</button>

    <div class="modal fade" id="answerModal" tabindex="-1" role="dialog" aria-labelledby="answerModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:600px;height:700px;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="answerrModalLabel" style="color: green" bold>Susisiekite</h2>
                </div>
                <div class="modal-body">

                    <h5 style="text-align:center">Susisiekite su vartotoju <b> @Model.Comments[0].Email </b> </h5>
                    <br />

                    <form method="get" action="">
                        <div class="textarea">
                            <textarea name="answer" rows="5" cols="60" placeholder="Parašykite komentarą.." style="overflow:auto;resize:none"></textarea>
                            <input type="hidden" name="email" value="@Model.Comments[0].Email" />
                        </div>
                        <br />

                        <div class="myButton">
                            <button type="submit" asp-controller="Reports" asp-action="Answer">Siųsti</button>
                        </div>
                    </form>
                    <br />

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn first" data-dismiss="modal" style="color: green" bold>Uždaryti</button>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <h1>Klaida!</h1>
    <h3><strong>Neturite prieigos </strong> prie šios svetainės dalies!</h3>
    <button id="mvc-action-button" class="myButton" onclick="location.href = '@Url.Action("Items", "MainWindowLoggedIn")'">Grįžti</button>
}