@{
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

@model ReportView
@if (Model.Role == "Admin")
{
    <link rel="stylesheet" href="~/css/styleForAdminView.css">
    <br>
    <h1>Pranešimai</h1>
    <br>
    <table id="items">
        <tr>
            <th>ID</th>
            <th>Data</th>
            <th>Pranešimas</th>
            <th>Pažymėti</th>
            <th>Ištrinti</th>
        </tr>
        @foreach (var comment in @Model.Comments)
        {
    <tr>
        <td style="font-weight:bold;color:red;">@comment.ID</td>
        <td style="font-weight:bold;color:red;">@comment.Date</td>
        <td style="font-weight:bold;color:red;max-width:500px; word-wrap:break-word;">@comment.Comment</td>
        <td style="width:50px"><button type="button" class="btn btn-warning">Pažymėti</button></td>
        <td style="width:50px"><button type="button" class="btn btn-danger">Ištrinti</button></td>
    </tr>
        }

    </table>
}
else
{
    <h1>Klaida!</h1>
    <h3><strong>Neturite prieigos </strong> prie šios svetainės dalies!</h3>
    <button id="mvc-action-button" class="myButton" onclick="location.href = '@Url.Action("Items", "MainWindowLoggedIn")'">Grįžti</button>
}